{% extends "layout.twig" %}

{% block title %} Espace d'administration {% endblock %}

{% block content %}

<!--   DASHBOARD   -->
    <section>

        <h1 class="mt">Bienvenue dans votre espace d'administration Jean</h1>

        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="https://jeanforteroche.valentin-antoin.fr/index.php?access=admin#savechap" class="linkoff">Nombre de chapitre en attente</a>
                <span class="badge badge-primary badge-pill">{{ nbChapterHold }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="https://jeanforteroche.valentin-antoin.fr/index.php?access=admin#comments" class="linkoff">Nombre de commentaire signalé</a>
                <span class="badge badge-primary badge-pill">{{ nbCommentPb }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="linkoff">   //  Informations générales  //   </a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre de chapitre publié
                <span class="badge badge-secondary badge-pill">{{ nbChapter }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre de commentaire posté
                <span class="badge badge-secondary badge-pill">{{ nbComment }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre d'utilisateur enregistré
                <span class="badge badge-secondary badge-pill">{{ nbUser }}</span>
            </li>
        </ul>

    </section>


<!--   NEW CHAPTER TEXTAREA   -->
    <section>

        <h2 class="mt" id="newchap">Vous pouvez saisir ici un nouveau chapitre.</h2>

        <form method="post" action="https://jeanforteroche.valentin-antoin.fr/index.php?access=postchap">

            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">Titre</span>
                </div>
                <input type="text" class="form-control" aria-label="title" name="title" aria-describedby="addon-wrapping">
            </div>

            <textarea class="form-control" aria-label="content" name="content" rows="22" cols ="100"></textarea>

            <button type="submit" class="btn btnadmin btn-primary">Publier</button>
            <button type="submit" class="btn btnadmin btn-warning" formaction="https://jeanforteroche.valentin-antoin.fr/index.php?access=savechap">Sauvegarder</button>

        </form>

    </section>


<!--   CHAPTERS IN PROGRESS   -->
    <section>

        <h2 class="mt" id="savechap">Retrouvez ici tous les chapitres en attente.</h2>

        {% for chapterHold in chaptersHold %}

        <div class="card bg-light">
            <h2 class="card-header">{{ chapterHold.title | nl2br}}</h2>
            <div class="card-body">
                <h3 class="card-text">{{ chapterHold.creation_date_fr }}</h3>
                <p class="card-text">{{ chapterHold.content | nl2br }}</p>
                <div class="btncontainer">
                <a href="https://jeanforteroche.valentin-antoin.fr/index.php?access=modchap&id={{ chapterHold.id }}"><button type="button" class="btn btnAdmin btn-warning">Continuer</button></a>
                <a href="https://jeanforteroche.valentin-antoin.fr/index.php?access=delchap&id={{ chapterHold.id }}"><button type="button" class="btn btnAdmin btn-danger">Supprimer</button></a>
                </div>
            </div>
        </div>

        {% endfor %}

    </section>


<!--   COMMENTS MODERATION   -->
    <section>

        <h2 class="mt" id="comments">Retrouvez ici tous les commentaires qui sont signalés.</h2>

        {%  for comment in comments %}

        <div class="card bg-light">
            <h5 class="card-header">Posté par : {{ comment.user_pseudo }}, le :{{ comment.creation_date_fr }} // <a href="https://jeanforteroche.valentin-antoin.fr/index.php?acces=chapter&id={{ comment.chapter_id }}" class="linkoff"> Lien vers le chapitre</a> </h5>
            <div class="card-body">
                <p class="card-text">{{ comment.content }}</p>
                <div class="btncontainer">
                <a href="https://jeanforteroche.valentin-antoin.fr/index.php?access=valcom&id={{ comment.id }}"><button type="button" class="btn btnAdmin btn-primary">Valider</button></a>
                <a href="https://jeanforteroche.valentin-antoin.fr/index.php?access=delcom&id={{ comment.id }}"><button type="button" class="btn btnAdmin btn-danger">Supprimer</button></a>
                </div>
            </div>
        </div>

        {% endfor %}

    </section>

{% endblock %}


{% block script %}

    <script src="js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({
            selector:'textarea',
            language : "fr_FR",
            forced_root_block : false,
            force_br_newlines : true,
            force_p_newlines : false
    });</script>

{% endblock %}

