{% extends "layout.twig" %}

{% block title %} Espace d'administration {% endblock %}

{% block content %}

    <h1>Bienvenue dans votre espace d'administration Jean</h1>

    <section>

        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre de chapitre publié
                <span class="badge badge-secondary badge-pill">{{ nbChapter }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre de commentaire posté
                <span class="badge badge-secondary badge-pill">{{ nbComment }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre d'utilisateur enregistré
                <span class="badge badge-secondary badge-pill">{{ nbUser }}</span>
            </li>
        </ul>

    </section>

    <section>

    <h2>Vous pouvez saisir ici un nouveau chapitre.</h2>

    <form method="post" action="https://jeanforteroche.valentin-antoin.fr/index.php?acces=postchap">

        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Titre</span>
            </div>
            <input type="text" class="form-control" aria-label="title" name="title" aria-describedby="addon-wrapping">
        </div>

            <textarea class="form-control" aria-label="content" name="content"></textarea>

       <button type="submit" class="btn btn-primary">Envoyer</button>

    </form>
    </section>

    <section>


    <h2>Retrouvez ici tous les commentaires qui sont signalés.</h2>

{%  for comment in comments %}

     <div class="card">
        <div class="card-body">
            <h5 class="card-title">Posté par : {{ comment.user_pseudo }}</h5>
            <h6 class="card-text">Le {{ comment.creation_date_fr }}</h6>
            <p class="card-text">{{ comment.content }}</p>

                <a href="https://jeanforteroche.valentin-antoin.fr/index.php?acces=valcom&id={{ comment.id }}"><button type="button" class="btn btnAdmin btn-success">Valider</button></a>
                <a href="https://jeanforteroche.valentin-antoin.fr/index.php?acces=delcom&id={{ comment.id }}"><button type="button" class="btn btnAdmin btn-danger">Supprimer</button></a>

        </div>
     </div>



{% endfor %}

    </section>

{% endblock %}

{% block script %}

    <script src="js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({
            selector:'textarea',
            language : "fr_FR",
            forced_root_block : false,
            force_br_newlines : true,
            force_p_newlines : false}
        );</script>

{% endblock %}

