{% extends "layout.twig" %}


{% block title %} {{ chapter.title }} {% endblock %}

{% block content %}


    <h1>{{ chapter.title | nl2br}}</h1>

    <div class="chapterContent">

        <p>{{ chapter.content | nl2br}}</p>

        {% if session.admin is defined %}

<div class="btncontainer">

              <a class="controls" href="https://jeanforteroche.valentin-antoin.fr/index.php?acces=modchap&id={{ chapter.id }}">
                <button type="button" class="btn btnChap btn-warning">Modifier ce chapitre</button>
              </a>
              <a class="controls" href="https://jeanforteroche.valentin-antoin.fr/index.php?acces=delchap&id={{ chapter.id }}">
                <button type="button" class="btn btnChap btn-danger">Supprimer ce chapitre</button>
              </a>
</div>

        {% endif %}

    </div>


{% endblock %}


{% block comments %}



    <h2>Commentaires : </h2>

    {% for comment in comments %}

        <section class="card">
            <h3 class="card-header">Posté par : <strong>{{ comment.user_pseudo }}</strong>, le {{ comment.creation_date_fr }}</h3>
            <div class="card-body">
                <p class="card-text">{{ comment.content }}</p>

                {% if session.pseudo is defined %}

                    <a href="https://jeanforteroche.valentin-antoin.fr/index.php?acces=reportcom&id={{ chapter.id }}&com={{ comment.id }}">Signaler ce commentaire.</a>

                {% endif %}

            </div>

        </section>

    {% endfor %}




    {% if session.pseudo is defined %}

    <form method="post" action="https://jeanforteroche.valentin-antoin.fr/index.php?acces=postcom&id={{ chapter.id }}">

        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <label for="comment" class="input-group-text" id="addon-wrapping">Ajoutez un commentaire</label>
            </div>
            <textarea id="comment" class="form-control" aria-label="comment" name="comment" aria-describedby="addon-wrapping" rows="4" cols ="20" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

    {% endif %}

{% endblock %}
