{% extends "layout.twig" %}


{% block title %} {{ chapter.title }} {% endblock %}

{% block content %}


    <h1>{{ chapter.title | nl2br}}</h1>

    <div class="chapterContent">

        <p>{{ chapter.content | nl2br}}</p>

    </div>


{% endblock %}


{% block comments %}

    {% for comment in comments %}

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Posté par : {{ comment.user_pseudo }}</h5>
                <h6 class="card-text">Le {{ comment.creation_date_fr }}</h6>
                <p class="card-text">{{ comment.content }}</p>
            </div>
        </div>

    {% endfor %}


    {% if session.pseudo is defined %}

    <form method="post" action="http://localhost/blog/public/index.php?acces=postcom&id={{ chapter.id }}">

        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Ajoutez un commentaire</span>
            </div>
            <textarea class="form-control" aria-label="comment" name="comment" aria-describedby="addon-wrapping" rows="4" cols ="20" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

    {% endif %}

{% endblock %}
