{% extends "layout.twig" %}


{% block title %} {{ chapter.title }} {% endblock %}

{% block content %}


    <h1>{{ chapter.title | nl2br}}</h1>

    <div class="chapterContent">

        <p>{{ chapter.content | nl2br}}</p>

        {% if session.admin is defined %}

            <a class="controls" href="https://jeanforteroche.valentin-antoin.fr/index.php?acces=modchap&id={{ chapter.id }}">Modifier ce chapitre.</a>
            <a class="controls" href="https://jeanforteroche.valentin-antoin.fr/index.php?acces=delchap&id={{ chapter.id }}">Supprimer ce chapitre.</a>

        {% endif %}

    </div>


{% endblock %}


{% block comments %}

    <h2>Commentaires : </h2>

    {% for comment in comments %}

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Posté par : {{ comment.user_pseudo }}</h3>
                <h4 class="card-text">Le {{ comment.creation_date_fr }}</h4>
                <p class="card-text">{{ comment.content }}</p>

                {% if session.pseudo is defined %}

                    <a href="https://jeanforteroche.valentin-antoin.fr/index.php?acces=reportcom&id={{ chapter.id }}&com={{ comment.id }}">Signaler ce commentaire.</a>

                {% endif %}

            </div>

        </div>

    {% endfor %}


    {% if session.pseudo is defined %}

    <form method="post" action="https://jeanforteroche.valentin-antoin.fr/index.php?acces=postcom&id={{ chapter.id }}">

        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Ajoutez un commentaire</span>
            </div>
            <textarea class="form-control" aria-label="comment" name="comment" aria-describedby="addon-wrapping" rows="4" cols ="20" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

    {% endif %}

{% endblock %}
